<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
        integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <div class="container mt-3">
        <div class="jumbotron" style="min-height: 20vh !important">
            <form  action="/logout" method="post">
                <h1 style="color:blue; float: left;">Bienvendido {{usuarioActivo.email}}</h1>
                <button class="btn btn-success mt-3 mb-5" style="float: right; background-color: orange;">Desloguear</button>
            </form>
        </div>

        <form  action="/productos"  enctype="multipart/form-data" method="post" >
            <div class="jumbotron" >
                <h1 style="color:blue;">Cargar Producto</h1>
                <br>


            <div class="form-group">
                Nombre<input id="nombre" class="form-control" type="text" name="nombre" required>
                Foto<input id="foto" type="file" name="foto" accept="image/*" required/>  
                <br> 
                Precio unitario<input id="precio" class="form-control" type="text" name="precio" required>
                Descripción<input id="descripcion" class="form-control" type="text" name="descripcion" required>
                Categoria<input id="categoria" class="form-control" type="text" name="categoria" required>
               <br>
                
            </div>

            <input class="btn btn-success mt-3 mb-5" type="submit" value="Cargar"/>

             {{!-- </div> --}}

            <br>
          {{#if productos.length}}
            <h2>Lista de Productos</h2>
            <div class="table-responsive">
                <table class="table table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Foto</th>
                        <th>Precio unitario</th>
                        <th>Descripción</th>
                        <th>Categoria</th>
                    </tr>
                    {{#each productos}}
                    <tr>
                        <td>{{this.nombre}}</td>
                        <td><img width="50" src={{this.foto}} alt="not found"></td>
                        <td>${{this.precio}}</td>
                        <td>{{this.descripcion}}</td>
                        <td>{{this.categoria}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            {{/if}}
        </form>

</body>

</html>